@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    border: none; 
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: large; 
    background-color: #ffffff;
  }

* {
  margin: 0
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 100vh;
  font-family: sans-serif;
}

.app {
  width: 60%;
}

@media (max-width:768px) {
  .app {
    width: 90%;
  }
}

.app h1 {
  color: white;
  font-size: 40px;
  padding: 10px;
  text-align: center;
  border-radius: .5rem .5rem;
  background-color: #000000;
  font-family: "Rajdhani", sans-serif;
}

.app form {
  display: flex;
  width: 100%;
  border-radius: .5rem .5rem;
  background-color: #000000;
}

.app form input {
  border: none;
  outline: none;
  background-color: #000000;
  font-size: 15px;
  color: white;
  padding: 10px;
  height: 43px;
  width: 90%;
}

.app form button {
  border: none;
  color: white;
  background-color: #000000;
  font-size: 25px;
  font-weight: 600;
  float: inline-end;
  padding-top: 2px;
  width: 8%;
}
.fa-circle-plus:hover{
    color: rgb(58, 133, 58);
    

}

.fa-sort:hover{
    color: cadetblue;

}

.app ul {
  list-style: none;
  color: #ffffff;
  padding: 0;
}

.app ul li {
  padding: 20px;
  background-color: #000000;
}

.check {
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  -webkit-appearance: none;
}

.check:checked {
    border-radius: 74px;
    background: #111124;
    box-shadow: inset 11px -11px 21px #07070e,
                inset -11px 11px 21px #1b1b3a;
}

.task {
  font-size: 18px;
  padding: 0 10px;
  width: 90%;
  background: transparent;
  border: none;
  color: #fff;
}

.task:focus {
  outline: none;
}

.app ul li i {
  float: right;
  cursor: pointer;
  color: rgba(255, 82, 82, 0.655);
}

.app ul li i:hover {
  color: rgb(255, 0, 0);
}

.completed {
  color: rgba(87, 78, 78, 0.8);
  text-decoration: line-through;
}
